*{
    margin: 0;
    padding: 0;

}

/* mobile version */

@media(max-width:576px){
    .container_box{
    height: 100vh;
    display: grid;
    grid-auto-rows: 1fr 2fr 10fr 2fr;
}
    .card .auto_2,.card .auto_3{
    display: none;
}
    .selectores{
    display:none;
}
    #car_filter{
        height:35px ;
        width: 300px;
    }
}

/* aside section */

    aside{
        background-color: #1675d1;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    aside p{
        color: white;
        font-family: 'Roboto', sans-serif;
        margin-left: 4px;    
    }
    .icone,.icone_2{
        height: 20px;
    }
    .box{
        display: flex;
        justify-content: space-between;
    }

/* filter section */

    filter{
        background-color: #eeeeee;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4px;
    }
    filter select{
        height: 20px;
        width: 400px;
        margin-top: 4px;
        border: none;
        border-radius: 2px;
    }

/* main section */

   
    main{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .auto,.auto_2, .auto_3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        box-shadow: 2px 3px #f5f5f5;
        margin: 5px;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;  
    }
    .card img{
        width: 250px;
    }
    .buton{
        margin-top: 5px;
        padding: 8px;
    }
    .auto button,.auto_2 button,.auto_3 button{
        width: 50px;
        background-color: #004a9f;
        color: white;
        border: none;
        border-radius: 2px;
        margin: 5px;
        padding: 5px 2px;
    }
    .buton button{
        width: 30px;
        color: #1e88e5;
        background-color: white;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        padding: 5px 2px;
    }

 /* footer section */

    footer{
        background-color: #004a9f;
    }
    .derechos{
        color: white;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px;
    }
    .icones, .icone_2{
        margin-top: 4px;
    }

/* tablet version */

@media only screen and (min-width: 576px) and (max-width: 992px) {
    aside{
        display: flex;
        grid-area: aside;
        align-items: center;
       }
    main{
        grid-area:main;
       }
    filter{
        grid-area: filter;
        width: 150px;
        display: flex;
       }
    footer{
        grid-area: footer;
        padding-left: 30%;
       }

    .container_box{
        display: grid;
        grid-template-areas:"aside aside"
                            "filter main"
                            "footer footer" ;
    }
    .card{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        column-gap: 10px;
    }
    .auto_3{
        display: none;
    }
    .selectores{
        display: flex;
        justify-content: end;
        
    }
    .selectores p{
        margin: 10px 20px;
        font-size: 15px;

    }
    .icone_2{
        display: none;
    }
    #car_filter{
        width: 70px;
    }

}

/* desktop version */

@media(min-width:992px){
    aside{
        grid-area: aside;
    }
    filter{
        width: 100%;
        grid-area: filter;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
    .container_box{
        display: grid;
        grid-template-areas: "aside filter"
                            "aside main"
                            "footer main";
    }
    .card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        column-gap: 10px;
    }
    .icone_2{
        display: none;
    }
    aside{
        background-color: #1675d1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 10px;
        font-size: 15px;
        align-items: center;
    }
    .box{
        margin: 5px;
    }
    .selectores{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .selectores p{
        padding: 3px;
        font-size: 13px;
    }
    .buton{
    display: block;
    justify-content: center;
    align-items: center;
    } 
    aside .tittle{
        display: flex;
        justify-content: center;
        width: 130px;
    }   
}

